* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.routelit-container {
  display: contents;
}

.no-link-decoration {
  text-decoration: none;
  color: inherit;
}

.no-link-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.no-link-decoration:active {
  text-decoration: none;
  color: inherit;
}
