* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.routelit-container {
  display: contents;
}

.no-link-decoration {
  text-decoration: none;
  color: inherit;
}

.no-link-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.no-link-decoration:active {
  text-decoration: none;
  color: inherit;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
}
